.container {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    display: inline-block;
  }
  .caption {
    text-align: center;
  }
   .size_img_s {
    width: 50%; 
    height: auto; 
    display: block; 
    margin: 0 auto; 
   }
 